<mat-card style="width: 70%; margin: 50px auto">
    <mat-card-header>
        <mat-card-title style="color: white">
            <p>
                Causas benéficas
            </p>
        </mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <div class="example-button-row">            
            <button mat-flat-button color="warn" (click)="acciones()">Acciones</button>
            <button mat-flat-button color="primary" (click)="nuevo()" style="margin-left: 20px;">Nuevo</button>
        </div>

        <table mat-table [dataSource]="listaCausasBeneficas" class="mat-elevation-z8" style="margin-top:20px">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="wallet">
              <th mat-header-cell *matHeaderCellDef> Wallet </th>
              <td mat-cell *matCellDef="let element"> {{element.wallet}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="fondosRecibidos">
              <th mat-header-cell *matHeaderCellDef> Fondos recibidos </th>
              <td mat-cell *matCellDef="let element"> {{element.fondosRecibidos}} </td>
            </ng-container>                      
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          
          
    </mat-card-content>
</mat-card>
  